.ui-image-flash-effect{
  position:relative;
  overflow:hidden;
  &:before {
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-25deg);
    z-index: 2;
  }
  &:hover {
    &:before {
      -webkit-animation: slide 1.3s;
      animation: slide 1.3s;
    }
  }
}
@keyframes slide {
  0% {left:-100%;}
  100% {left:125%;}
}
.elementor-button, .ui-button .uk-button {
  position:relative;
  overflow: hidden;
}
.uk-button {
  @include transition($tz-basic-transition);
  &:hover{
    @include transition($tz-basic-transition);
  }
}
.elementor-button,
.ui-buttons .uk-button, .templaza-btn{
  @include tz-ripple-effect();
  @include transition($tz-basic-transition);
}