$tztheme-quote-bg:                    #F2E8E1;
$tztheme-button_background:           #c6783e;
$tztheme-button_background_hover:     #222222;
$tztheme-button_text_color_hover:     #ffffff;
$tztheme-button_text_color:           #ffffff;
$tztheme-content-color:               #555555;
$tztheme-button_transform:            uppercase;
$tztheme-enable-shadows:              true;
$tztheme-heading-color:               #222222;
$tztheme-postmeta:                    #AAAAAA;
$tztheme-global-color:                #c6783e;
$tztheme-background-color:            #c6783e;
$tztheme-quote-color:                 #1D3C55;
$tztheme-quote-icon-color:            $tztheme-global-color;
$tztheme-button_radius:               0;
$tztheme-button-font:                 'Marcellus', Arial, Helvetica, sans-serif;
$tztheme-heading-font:                'Marcellus', Arial, Helvetica, sans-serif;
$tztheme-input-border:                1px solid rgba(0,0,0,0.1);
$tztheme-header-padding-y:            0;
$tztheme-input-height:                60px;
$tztheme-input-lineheight:            60px;
$tztheme-rating-visible:              #FFC11A;
$tztheme-transition-all:              all 0.3s linear;
$tztheme-border-color:                #eeeeee;
$tztheme-box-shadow-default:          none;

// Woocommerce

$tztheme-rating: #aaaaaa;
$tztheme-rating-visible: #FFC11A;
$tztheme-loop-icon-font-size:0.8rem;
$tztheme-color-gray: #cdcdcd;
$tztheme-bg-color-gray: #f5f5f5;
$tztheme_modal_spacing: 30px;
$tztheme-catalog-price-size: 18px;
$tztheme-catalog-title-size: 18px;
$tztheme-catalog-title-weight: 400;
$tztheme-catalog-price-weight: 500;

$tztheme-shop-detail-title-size: 40px;
$tztheme-shop-detail-title-weight: 400;
$tztheme-shop-detail-price-size: 24px;
$tztheme-shop-detail-variation-price-size: 26px;
$tztheme-shop-detail-price-weight: 600;
$tztheme-shop-detail-variation-size: 18px;
$tztheme-shop-detail-variation-weight: 600;
$tztheme-shop-detail-meta-weight: 500;
$tztheme-shop-detail-tab-size: 18px;
$tztheme-shop-detail-tab-transform: capitalize;
$tztheme-shop-detail-related-size: 40px;
$tztheme-shop-detail-related-transform: capitalize;
$tztheme-shop-detail-title-recent-weight: 400;
$tztheme-shop-detail-box-bg: #ffffff;

// Sticky cart
$tztheme-shop-sticky-input-height: 50px;

$tztheme-bg-info:#d8eafc;
$tztheme-color-info:#1e87f0;
$tztheme-bg-warning:#fff6ee;
$tztheme-color-warning:#faa05a;
$tztheme-bg-error:#fef4f6;
$tztheme-color-error:#f0506e;

$tztheme-ap-single-price-bg: #ffffff;
$tztheme-ap-archive-title-size: 20px;
$tztheme-ap-archive-title-weight:400;
$tztheme-ap-single-price-size: 24px;
$tztheme-ap-single-side-title: 24px;
$tztheme-ap-single-price-weight:400;
$tztheme-ap-single-title-size: 40px;
$tztheme-ap-single-title-weight: 400;
$tztheme-ap-single-side-title-weight: 400;